# Use `rake secret` to generate one key
SECRET_KEY_BASE: ''

# domain name used by action cable
DOMAIN: ''
PROTOCOL: http

# UPYUN set
UPYUN_USERNAME: ''
UPYUN_PASSWORD: ''
UPYUN_BUCKET: ''
UPYUN_BUCKET_HOST: ''

# sidekiq namespace
SIDEKIQ_NAMESPACE: ''
